.content {
  background-color: #19535f;
  height: 80vh;
  width: 90vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}


.line{
  width: 20vw;
  height: 5vh;
  padding: 0.5vh;
  padding-left: 1vw;
}
.area{
  width: 21vw;
  height: auto;
}

.holder{
  flex-flow: row wrap ;
  /*justify-content: flex-start;*/
  display: flex;
  align-items: center;
  height: 5.5vh;
  width: 44vw ;
  justify-content: space-between;

}
.input {
  text-align: left;
  font-size: 2.5vh;
  background-color: #d7c9aa;
  border-radius: 0.5vh;
  color: #7b2d26;
  border: none;
}

::-webkit-input-placeholder {  color:#7b2d26 ;
}
.form{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}
.downbtn {
  background-color: #0b7a75;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.menu-form {
  position: relative;
  display: inline-block;
}

.menu-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menu-content a {
  color: #f0f3f5;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu-content a:hover {background-color: #d7c9aa}

.menu-form:hover .menu-content {
  display: block;
}

.menu-form:hover .menu-content {
  background-color: #0b7a75;
}
.nom{
  width: 15vw;
  background-color: #19535f;
  color: #f0f3f5;
  border-color: #d7c9aa;
  border-radius: 0.2vh;
  margin: 0.2vh;
}
.card{

}
