<form>
<div>
    <div class="menu-form" style="left:0;">
      <button  [routerLink]="['/profil']"  class="downbtn" >Profil </button>
      <button [routerLink]="['/welcome']"  class="downbtn" >Espace de travail </button>
        <div class="menu-content" >
          <a [routerLink]="['/profil']">Module</a>
          <a [routerLink]="['/profil']">Session</a>
          <a [routerLink]="['/profil']">Evaluation</a>
          <a [routerLink]="['/profil']">Liste des etudiant</a>
          <a [routerLink]="['/profil']">Notes</a>
          <a [routerLink]="['/profil']">Notifications</a>
        </div>
    </div>

  <div class="menu-form" style="float:right;">
      <!--img src="assets/professor.svg"  style="width:10%"-->
        <button [routerLink]="['/profil']" href="#"class="downbtn nom">Nom </button>
      <div class="menu-content">
          <a>paramètres</a>
          <a>Se deconecter</a>
      </div>
  </div>

</div>
  <div class="content profil ">

  <div class="p-left">
   <div class="profil holder form">
          <input class="profil input line"
           type="text"
           placeholder=" Nom "
    />
   </div>
  <div class="profil holder form">
    <input class="profil input line"
             type="text"
             placeholder=" Prénom "
    />
  </div>
  <div class="profil holder form">
    <input class="profil input line"
           type="date"
           placeholder="Date de naissance"
    />
  </div>
  <div class="profil holder form">
    <input class="profil input line"
           type="email"
           placeholder="Email"
    />
  </div>
  <div class="profil holder form">
    <input class="profil input line"
           type="text"
           placeholder="Etabissement"
    />
  </div>
  <div class="profil holder form">
    <textarea class="profil input area"
           rows="100"
           type="text"
           placeholder="Sujet de recherche "
    ></textarea>
  </div>

    <!--div class="card">
      <input type="file"/>
    </div-->

  </div>
  </div>
</form>
