
<div class="content profil ">

  <div class="p-left">
    <div class="profil holder form">
      <input class="profil input line"
             type="text"
             placeholder=" Nom "
      />
    </div>
    <div class="profil holder form">
      <input class="profil input line"
             type="text"
             placeholder=" Prénom "
      />
    </div>
    <div class="profil holder form">
      <input class="profil input line"
             type="date"
             placeholder="Date de naissance"
      />
    </div>
    <div class="profil holder form">
      <input class="profil input line"
             type="email"
             placeholder="Email"
      />
    </div>
    <div class="profil holder form">
      <input class="profil input line"
             type="text"
             placeholder="Etabissement"
      />
    </div>
    <div class="profil holder form">
    <textarea class="profil input area"
              rows="10"
              type="text"
              placeholder="Sujet de recherche "
    ></textarea>
    </div>

    <!--div class="card">
      <input type="file"/>
    </div-->

  </div>
</div>
