.content {
  background-color: #C7D6D5;
  height: 80vh;
  width: 90vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}
.toulbar{
  background-color:#2E4057 ;
  color: #f0f3f5;
}

.p-left{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
.card{
  width: 15vw;
  background-color: transparent;
  background-size: cover;
}
