<form>
  <div class="content profil ">

  <div class="p-left">
    <div >
      <md-input-container class="profil holder form">
        <input mdInput placeholder="Nom">
      </md-input-container>
    </div>
    <div >
      <md-input-container class="profil holder form">
        <input mdInput placeholder="prénom" >
      </md-input-container>
    </div>
    <div >
      <md-input-container class="profil holder form">
      <input mdInput placeholder="Date"
             type="date">
    </md-input-container>
    </div>
    <div >
      <md-input-container class="profil holder form">
        <input mdInput placeholder="Email"
               type="email">
      </md-input-container>
    </div>
    <div >
      <md-input-container class="profil holder form">
        <input mdInput placeholder="Etablissement"
               type="text">
      </md-input-container>
    </div>
  </div>

  <md-card class="card">
  <img md-card-image src="assets/professor.svg" >
  </md-card>

  </div>

  <md-toolbar class="toulbar">
    <button md-button (click)="onSave()"><md-icon>save</md-icon> Enregistrer</button>
    <button md-button (click)="onCancel()"><md-icon>cancel</md-icon> Annuler</button>
  </md-toolbar>

 </form>
