.table-content{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 80vw;
  color: #C7D6D5;
}
.table-header{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 80vw;
}

