<div class="table-content">
  <div class="table-header">
    <div class=" name"><b>Nom</b></div>
    <div class=" fname"><b>Prénom</b></div>
    <div class=" email"><b>Email</b></div>
    <div class=" marks"><b>Notes</b></div>
    <div class="action" *ngIf="showAction"></div>
  </div>
  <div class="table-body">
    <app-marks-row-display *ngFor="let m of marksList ; let i = index"
                           [showAction]="showAction"
                           [index]="i"
                           [editNote]="editNote"
                           [mark]="m"
                           (supp)="onDelete(m)"
                           (change)="update($event)"
    ></app-marks-row-display>
  </div>
</div>
