.row-content{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 80vw;
  padding: 10px;
  background-color: #C7D6D5;
  border-bottom: 1px solid #2E4057;
  align-items: baseline;
}
.row-lable{
  color: #2E4057;
}
.fname{
  width: 15vw;
  text-align: start;
}
.email{
  width: 25vw;
  text-align: start;
}
.name{
  width: 15vw;
  text-align:start;
}
.marks{
  width: 5vw;
  text-align: start;
}
.action{
  width: 5vw;
  text-align: start;
}
