
<div>
  <div>
    <md-toolbar class="color">
      <div class="toulbar">
        <div class="toolbar-left">
          <div class="toolbar-return">
            <button md-menu-item [routerLink]="['/welcome']" ><md-icon>arrow_back</md-icon> Retour </button>
          </div>
          <div class="inputTable">

            <md-input-container>
              <input mdInput
                     class="tall"
                     placeholder="Usto-MB Dept Informatique Année 2017 Licence 3 Section 1 Groupe 1"
                     [(ngModel)]="title"
                     required
              >
            </md-input-container>

          </div>

        </div>
        <div class="toolbar-right">


          <button md-button  (click)="onPublish()"
                  [disabled] = "title == '' || title.length<=5"
          ><md-icon>publish</md-icon> Publier</button>

          <button md-button [mdMenuTriggerFor]="menu"><md-icon>settings</md-icon> Paramètre</button>

          <md-menu #menu="mdMenu">
            <button md-menu-item [routerLink]="['/welcome']" ><md-icon>arrow_back</md-icon> Retour </button>
            <button md-menu-item (click)="onlogout()"><md-icon>exit_to_app</md-icon>Se déconnecter</button>
          </md-menu>
        </div>
      </div>
    </md-toolbar>

    <md-toolbar class="color">
      <form (ngSubmit)="addList(f)" #f="ngForm">
        <div class="toulbar">
          <div class="toolbar-left">

            <div class="inputTable">
              <md-input-container>
                <input mdInput
                       placeholder="Nom"
                       name="lastName"
                       ngModel
                       required

                >
              </md-input-container>

              <md-input-container>
                <input mdInput placeholder="Prénom"
                       name="firstName"
                       ngModel
                       required

                >
              </md-input-container>

              <md-input-container>
                <input mdInput placeholder="Email"
                       name="email"
                       ngModel
                       required
                       email

                >
              </md-input-container>
              <md-input-container>
                <input mdInput
                       placeholder="Note"
                       name="note"
                       type="number"
                       [pattern]="'^(?:[0-9]|0[1-9]|1[0-9]|20)$'"
                       ngModel
                       required
                >
              </md-input-container>
            </div>

          </div>
          <div class="toolbar-right">
            <button md-button
                    type="submit"
                    [disabled]="!f.valid">
              <md-icon>add</md-icon>Ajouter</button>
            <button md-button type="button" (click)="onClear(f)">
              <md-icon>clear</md-icon>Clear</button>
          </div>

        </div>
      </form>
    </md-toolbar>
  </div>
</div>

<div class="content profil ">

  <!-- TODO table -->
  <app-marks-table [(marksList)]="marksList" [showAction]="true"></app-marks-table>

</div>
