<app-error-displayer [errors]="errors"></app-error-displayer>

<div class="login content">
  <div class="login title ">
    <div>Se Connecter</div>
  </div>
  <div class="login inputs">

    <div class="login form">
      <div class=" login holder ">
       <span class=" login role-call "> Vous êtes : </span>
        <select  [(ngModel)]="userRoleService.user_roles_selected" class="login input role-select ">
          <option *ngFor="let user_role of userRoleService.user_roles" [ngValue]="user_role" align="center">{{user_role.display}}</option>
        </select>
      </div>
      <div class=" login holder">
        <md-input-container>
          <input  mdInput [(ngModel)]="username" type="text" placeholder="Pseudo" (keypress)="key($event)"/>
        </md-input-container>


       </div>
      <div class="login holder">
        <md-input-container>
      <input mdInput [(ngModel)]="password"  type="password" placeholder="Mot de passe" (keypress)="key($event)"/>
        </md-input-container>
      </div>

    </div>
    <div >
      <button md-button class="login btn " (click)="login()"  autofocus ><span>Se connecter</span></button>
    </div>
  </div>

  <div class="login footer">
    <div class="login pwd-forgotten">
      <a class="login footer-text" [routerLink]="['/in-progress']"> Mot de passe oublié ? </a>

    </div>
    <div class="login signup-call ">
      <span class="login footer-text"> Pas encore inscris ? </span>

      <a class="login footer-text singup-action" [routerLink]="['/signup']"> <b>S'inscrire</b></a>
    </div>

  </div>

</div>
