
<div class="login content">
  <div class="login title ">
    <div>Se Connecter</div>
  </div>
  <div class="login inputs">

    <div class="login form">
      <div class=" login holder ">
       <span class=" login role-call "> Vous êtes : </span>
        <select class="login input role-select ">
          <option value="teacher" align="center">Enseignant</option>
          <option value="student" align="center">Etudiant</option>
        </select>
      </div>
      <div class=" login holder">
      <input class="login input line mail " type="email" placeholder="Email"/>
       </div>
      <div class="login holder">
      <input class="login input line mdp " type="password" placeholder="Mot de passe"/>
      </div>

    </div>
    <div >
      <button class="login btn " ><span>Se connecter</span></button>

    </div>
  </div>

  <div class="login footer">
    <div class="login pwd-forgotten">
      <a class="login footer-text" [routerLink]="['/signup']"> Mot de passe oublié ? </a>

    </div>
    <div class="login signup-call ">
      <span class="login footer-text"> Pas encore inscris ? </span>

      <a class="login footer-text singup-action" [routerLink]="['/signup']"> <b>S'inscrire</b></a>
    </div>

  </div>

</div>
