.popup-container{
  z-index: 1;
  position: fixed;
  width: 100%;
  right: 0;
  top : 1vh ;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}
.popup{
  background-color: #f2dede;
  color: #c62828;
  text-align: center;
  margin-top: 5px;
  border-radius: 0.5vh;
  border : solid 1px #c62828 ;
  width: 30vw;
  height: 5vh;
  line-height: 5vh;
}
.working{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.content{
  background-color: #19535f;
  height: 60vh;
  width: 25vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0f3f5;
  font-size: 5vh ;
  width: auto;
  height: 10vh;
  text-align: center;
}
.form{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  height: 22vh;
}
.holder{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  width: 20vw;
  height: 5vh;
}
.role-call{
  color: #f0f3f5;
  font-size: 2.5vh ;
  width: 6vw;
  height: 8vh;
}
.role-select{
  text-align: center;

  font-size: 2.5vh;
  background-color: #d7c9aa;
  border-radius: 1vh;
  color : #7b2d26;
  width: 13vw;
  height: 5vh;
}
.input {
  text-align: left;
  font-size: 2.5vh;
  background-color: #d7c9aa;
  border-radius: 1vh;
  color: #7b2d26;
  border: none;
}
::-webkit-input-placeholder {  color:#7b2d26 ;
}
.line{
  width: 20vw;
  height: 5vh;
  padding: 0.5vh;
  padding-left: 1vw;
}
.btn{
  border-radius: 2vw ;
  padding-left: 1.2vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vh ;
  height: 5vh;
  width: 10vw;
  border : none;
  background-color: #0b7a75;
  color: #f0f3f5;
}
.inputs{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
}
.footer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  width: 23vw;
}
.pwd-forgotten{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: baseline;
}
.footer-text{
  color: #d7c9aa;

  font-size: 2.1vh;
}
.signup-call{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: baseline;

}
.singup-action{
  color: #f0f3f5;
  padding-left: 0.2vw;
}
