.content {
  background-color: #C7D6D5;
  height: 60vh;
  width: 90vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}
.toolbar{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}
.color{
  background-color: #C7D6D5;
}
.toolbar-left{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.toolbar-right{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
.style{
  font-size: 14px;
}
.table{
  background-color: #C7D6D5;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 63.5vh;
  overflow-y: scroll;
  width: 80vw;
}
.space-h{
  background-color: #C7D6D5;
  height: 5vh;
}

.space-w{
  width: 5vw;
}
