<div class="app content">
  <div class="app hero">
    <img class="app img" src="brand.png"/>
  </div>
  <!--div class="app action-group l1">
    <div class="app action-group l2">
      <div class="app action-call">
        Vous êtes
      </div>
      <input type="" >
    </div>
    <div class="app action-group l2">

    </div>
  </div-->
  <div class="app search">
      <div class="app search-call">
        <i>Trouver ce que vous cherchez, taper un code !</i>
      </div>
    <div class="app search-bar">
      <!-- TODO search-bar -->
      <input type="search"/>
    </div>
  </div>
</div>

