
.content{
  background-color: #19535f;
  height: 75vh;
  width: 70vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

img{
  height: 30vh;
  width: auto;
}

.action-group{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.l1{
  justify-content: space-between;
}
.l2{
  justify-content: space-around;
}
.action-select {
  background-color: #d7c9aa;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  text-align: center;
  height: 28px;
  line-height: 1;
  color: #7b2d26;
  padding: 5px;
  width: 140px;
  overflow: hidden;


}
.action-select select {
  width: 130px;
  height: 32px;
  overflow: hidden;
 /* background-image: url("assets/angle-arrow-down.png");
  background-repeat: no-repeat ;
  float:right;*/
  background-color: #d7c9aa;
  background-position: 98% 39%;
  border: 2px solid #d7c9aa;
}
.search{
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center;
}

.search-call{
  text-align: center;
  font-family: Calibri;
  font-size: 4vh;
  color : #d7c9aa;
  /* padding:40px 20px ;*/

}
#search {

}

#search input[type="text"] {
  width: 500px;
  box-sizing: border-box;
  border: 2px solid #d7c9aa;
  font-size: 14px;
  font:bold 14px Arial,Helvetica,sans-serif;
  color: #0b7a75;
  border-radius: 20px ;
  background-color: #d7c9aa;
  background-image: url("assets/search.png");
  background-position: 10px 7px;
  float:left;
  background-repeat: no-repeat;
  padding: 10px 10px 10px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

#search input[type="text"]:focus {
  width: 600px;
}
