<div class="app content">
  <div class="app hero">
    <img class="app img" src="assets/brand.png"/>
  </div>
  <div class="app action-group l1">
    <div class="app action-group l2 choice">
      <div class="app action-call">
        Vous êtes :
      </div>
      <span>  </span>
      <div class="action-select">
      <select class="app action-select ">
        <option value="teacher" align="center">Enseignant</option>
        <option value="student" align="center">Etudiant</option>
      </select>
      </div>
    </div>
    <div class="app action-group l2 action">
<button class="btn login">Se connecter</button>
<button class="btn singup">S'inscrire</button>
    </div>
  </div>
  <div class="app search">
      <div class="app search-call">
        <i>Trouver ce que vous cherchez, taper un code !</i><br><br>
      </div>
    <div class="app search-bar">
            <form method="get" action="/search" id="search">
              <input class="s" name="q" type="text" size="40" placeholder="Recherche..." />
             </form>
    </div>
  </div>
</div>

