
.content{
  background-color: #19535f;
  height: 75vh;
  width: 70vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

img{
  height: 30vh;
  width: auto;
}

.action-group{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.l1{
  justify-content: space-between;
}
.l2{
  justify-content: space-around;
}
.search{
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center;
}

.search-call{
  text-align: center;
  font-family: Calibri;
  font-size: 4vh;
  color : #d7c9aa;

}
