<!--p>
  Welcome {{profileService.profile.userName}}!
</p>
<app-not-impl-yet></app-not-impl--->
<form>

<md-tab-group class="tab">
  <md-tab label="Profil">
    <app-profile></app-profile>
  </md-tab>
  <md-tab label="Espace de travail ">
<app-workspace></app-workspace>
  </md-tab>

</md-tab-group>

</form>


<!--form>

  <div class="content profil ">
    <div class="img">
      <img src="assets/avatar.svg" >
      <label class="line"> Nom </label>
      <label class="line"> Prénom </label>
    </div>

    <div class="notes" style="float:right;">

      <div class="line">
        <label>Rappel et Notes</label>
      </div>
      <!--TODO Task list !! -->
      <!--div class="profil inputs">
        <input
          type="text"
          id="name"
          class="form-control"
          name="name"
          ngModel
          required
        >

      </div>
      <!--TODO Task calendar  !!-->
    <!--/div>

  </div>
</form-->
