.working{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.content{
  background-color: #19535f;
  height: 105vh;
  width: 45vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0f3f5;
  font-size: 5vh ;
  width: auto;
  height: 15vh;
  text-align: center;
}
.information{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: left;
  height: 22vh;
}
.role-call{
  color: #f0f3f5;
  font-size: 4vh ;
  text-align: left;
}
.role-select {
  text-align: center;
  font-size: 2.5vh;
  background-color: #d7c9aa;
  border-radius: 0.5vh;
  color: #7b2d26;
  width: 9vw;
  height: 5vh;
}
.label{
  color: #d7c9aa;
  font-size: 2.5vh ;
  width: 6vw;
  height: 8vh;
  text-align: left;
}
.input {
  text-align: left;
  font-size: 2.5vh;
  background-color: #d7c9aa;
  border-radius: 0.5vh;
  color: #7b2d26;
  border: none;
}
::-webkit-input-placeholder {  color:#7b2d26 ;
}

