<app-error-displayer [errors]="errors"></app-error-displayer>

<div class="singup content">

  <div class="singup title ">
    <div>S'inscrire</div>
  </div>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div class="signup form" >

    <div class="singup holder">
      <md-input-container>
        <input  mdInput
                class="singup input line"
                type="text" placeholder="Pseudo"
                formControlName="username"
                name="username"
                required
        />
      </md-input-container>

      <!--span
        *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched" class="help-block">
        Entrer votre Pseodo S'il vous plait
      </span-->

      <md-input-container>
        <input  mdInput
                class="singup input line"
                type="text"
                placeholder="Nom"
                formControlName="name"
                name="name"
                required
        />
      </md-input-container>

    </div>
    <div class="singup holder">
      <md-input-container>
        <input  mdInput
                class="singup input line"
                type="text"
                placeholder="Email"
                formControlName="email"
                name="email"
                required
        />
      </md-input-container>
      <md-input-container>
        <input  mdInput
                class="singup input line"
                type="text"
                placeholder="Prénom"
                formControlName="firstname"
                required
        />
      </md-input-container>

    </div>
    <div class="singup holder">
      <md-input-container>
        <input  mdInput
                class="singup input line"
                type="password"
                formControlName="password"
                placeholder="Mot de passe"
                (change)="check_password()"
                required
        />
      </md-input-container>

      <md-input-container>
        <input  mdInput
                class="singup input line"
                type="password"
                placeholder="Confirmer Mot de passe"
                formControlName="confirm_password"
                (change)="check_password()"
                required
        />
      </md-input-container>

    </div>
    <div class="singup holder ">

      <md-input-container>
        <input  mdInput
                class="singup input line"
                type="text"
                formControlName="etablish"
                placeholder=" Etablissement "
        />
      </md-input-container>


      <span class=" signup role-call "> Vous êtes : </span>
      <select [(ngModel)]="userRoleService.user_roles_selected"
              class="login input role-select "
              formControlName="rol_call"
      >
        <option *ngFor="let user_role of userRoleService.user_roles"
                [ngValue]="user_role" align="center">
          {{user_role.display}}
        </option>
      </select>
    </div>
  </div>
  <footer class="singup footer">
    <div class="singup condition">
      <md-checkbox  formControlName="checked_box" >J'accepte les conditions</md-checkbox>
    </div>
   <div>
     <button  md-button
              class="singup btn "
              type="submit"
              [disabled]="!signupForm.valid || !check_password() || !agreed()"
     >
       Crée un compte</button>
   </div>
    <div class="singup cancel">
      <a class="singup footer-text" [routerLink]="['/']"> Annuler </a>
    </div>
  </footer>
</form>
</div>
