.working{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.content{
  background-color: #19535f;
  height: 99vh;
  width: 45vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0f3f5;
  font-size: 5vh ;
  width: auto;
  height: 8vh;
  text-align: center;
}
.form{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
}
.line{
  width: 20vw;
  height: 5vh;
  padding: 0.5vh;
  padding-left: 1vw;
}
.holder{
  flex-flow: row wrap ;
  /*justify-content: flex-start;*/
  display: flex;
  align-items: center;
  height: 5.5vh;
  width: 44vw ;
  justify-content: space-between;

  }
.input {
  text-align: left;
  font-size: 2.5vh;
  background-color: #d7c9aa;
  border-radius: 0.5vh;
  color: #7b2d26;
  border: none;
}
::-webkit-input-placeholder {  color:#7b2d26 ;
}
.line{
  width: 20vw;
  height: 5vh;
  padding: 0.5vh;
  padding-left: 1vw;
}

.btn{
  border-radius: 2vw ;
  padding-left: 1.2vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.5vh ;
  height: 5vh;
  width: 10vw;
  border : none;
  background-color: #0b7a75;
  color: #f0f3f5;
}
.condition{
  color: #d7c9aa;
  font-size: 2.5vh ;
  width: 10vw;
  text-align: end;
  padding-right: 1.5vw;
}
.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 30vw;

}
.role-call{
  color: #f0f3f5;
  font-size: 2.5vh ;

}
.role-select{
  text-align: center;

  font-size: 2.5vh;
  background-color: #d7c9aa;
  border-radius: 0.5vh;
  color : #7b2d26;
  width: 15vw;
  height: 5vh;
}
