<div class="singup content">

  <div class="singup title ">
    <div>S'inscrire</div>
  </div>

  <div class="signup form" >

    <div class="singup holder">
      <input class="singup input line" type="text" placeholder="Pseudo" />
      <input class="singup input line" type="text" placeholder="Nom" />
    </div>

    <div class="singup holder">
      <input class="singup input line" type="text" placeholder="Email" />
      <input class="singup input line" type="text" placeholder="Prénom" />
    </div>

    <div class="singup holder">
      <input class="singup input line" type="password" placeholder="Mot de passe" />
      <input class="singup input line" type="password" placeholder="Confirmer Mot de passe" />
    </div>

    <div class="singup holder ">
      <input class="singup input line" type="text" placeholder=" Etablissement " />
      <span class=" signup role-call "> Vous êtes : </span>
      <select [(ngModel)]="userRoleService.user_roles_selected" class="login input role-select ">
        <option *ngFor="let user_role of userRoleService.user_roles" [ngValue]="user_role" align="center">{{user_role.display}}</option>
      </select>
    </div>

  </div>

  <div class="singup footer">

    <div class="singup condition">
      <input  type="checkbox"/> <label>j'accepte les termes et conditions</label>
    </div>

    <button class="singup btn " [routerLink]="['/welcome']" ><span>Crée un compte</span></button>
    <div class="singup cancel">
      <a class="singup footer-text" [routerLink]="['/']"> Annuler </a>
    </div>
  </div>

</div>
