.working{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.content{
  background-color: #19535f;
  height: 105vh;
  width: 45vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0f3f5;
  font-size: 5vh ;
  width: auto;
  height: 8vh;
  text-align: center;
}
.information{

  width: 30vw;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.personal{
  height: 30vh;
}
.account{
  height: 30vh;
}
.contact{
  height: 30vh;
}
.section-title{
  color: #f0f3f5;
  font-size: 4.5vh ;
  width: auto;
  height: 8vh;
  text-align: center;
}
.holder{
  flex-flow: row wrap ;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  height: 5.5vh;
}
.label{
  color: #d7c9aa;
  font-size: 2.5vh ;
  width: 10vw;
  text-align: end;
  padding-right: 1.5vw;
}


.input{
  text-align: left;
  font-size: 2.5vh;
  background-color: #d7c9aa;
  border-radius: 0.5vh;
  border: none;
  height: 2.8vh;
  width: 15vw;
}
.holder-containe{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: auto ;
  height: auto;
}
