.content {
  background-color: #C7D6D5;
  height: 80vh;
  width: 50vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

.toolbar{
  background-color:#2E4057 ;
  color: #f0f3f5;
}

.p-left{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;

}
.buttun{
  text-align: center;
  background-color: #2E4057;
  color: #f0f3f5;
}
h1{
  color:#2E4057 ;
}
