
<div>
  <md-toolbar class="color">
    <div class="toulbar">
      <div class="toolbar-left">
        <button md-button [routerLink]="['/welcome']" ><md-icon>arrow_back</md-icon> Retour </button>
        <button md-button (click)="onAdd()" ><md-icon>add</md-icon> Ajouter un module</button>
      </div>
      <div class="toolbar-right">


        <button md-button  (click)="onlogout()" ><md-icon>exit_to_app</md-icon></button>

      </div>
    </div>
  </md-toolbar>
</div>
<div class="module content">

  <app-module-table></app-module-table>


</div>
