<form>
<div>
    <div class="menu-form" style="left:0;">
      <button  [routerLink]="['/profil']"  class="downbtn" >Profil </button>
      <button   class="downbtn" >Espace de travail </button>

    </div>
    <div class="menu-form" style="float:right;">

        <button [routerLink]="['/profile']" class="downbtn nom">{{profileService.profile.userName }} </button>
      <div class="menu-content">
          <a [routerLink]="['/profile-settings']">paramètres</a>
          <a>Se deconecter</a>
      </div>
  </div>
</div>
  <div class="content profil ">
    <div class="img">
      <img src="assets/avatar.svg" >
      <label class="line">{{profileService.profile.lastName }} </label>
      <label class="line">{{profileService.profile.firstname }}</label>
    </div>

    <div class="notes" style="float:right;">

        <div class="line">
          <label>Rappel et Notes</label>
        </div>
<!--TODO Task list !! -->
      <div class="profil inputs">
        <input
          type="text"
          id="name"
          class="form-control"
          name="name"
          ngModel
          required
        >

      </div>
<!--TODO Task calendar  !! -->
    </div>

  </div>
</form>

