/* You can add global styles to this file, and also import other style files */

body{
  height: 90vh;
  background-color: #f0f3f5;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
