<div class="home content">
  <div class="home hero">
    <img class="home img" src="assets/brand.png"/>
  </div>
  <div class="home action-group l1">
    <div class="home action-group l2 choice">
      <div class="home action-call text-font-family">
        Vous êtes :
      </div>
      <span>  </span>
      <div >
        <select [(ngModel)]="userRoleService.user_roles_selected"  class="home action-select ">
          <option *ngFor="let user_role of userRoleService.user_roles" [ngValue]="user_role">{{user_role.display}}</option>


        </select>
      </div>
    </div>
    <div class="home action-group l2 action">
      <button class="btn login text-font-family" [routerLink]="['/login']"><span>Se connecter</span></button>
      <button class="btn singup text-font-family" [routerLink]="['/signup']"><span>S'inscrire</span></button>
    </div>
  </div>
  <div class="home search">
    <div class="home search-call text-font-family">
      <i>Trouver ce que vous cherchez, taper un code !</i><br><br>
    </div>
    <div class="home search-bar">
      <form method="get" action="/search" id="search">
        <input class="s" name="q" type="text" size="40" placeholder="Recherche..." />
      </form>
    </div>
  </div>
</div>
